
name: CI

on:

  push:
    branches: [ "main", "new_features_504833" ]
  pull_request:
    branches: [ "main",  "new_features_504833" ]

  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Display environment info
        run: |
          python --version
          echo "Running on: ${{ matrix.os }}"

      - name: Run unit tests
        run: |
          python -m unittest discover -v 
          
      - name: Tests completed
        run: |
          echo "Unit tests passed on ${{ matrix.os }}"

  
