# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main", "new_features_504833" ]
  pull_request:
    branches: [ "main",  "new_features_504833" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Display environment info
        run: |
          python --version
          echo "Running on: ${{ matrix.os }}"

      - name: Run unit tests
        run: |
          python -m unittest discover -v 
          
      - name: Tests completed
        run: |
          echo "Unit tests passed on ${{ matrix.os }}"

  
